div {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  transition: 0.2s ease-out;
  opacity: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;

}
a{
  text-decoration: none;
}
img {
  width: 100%;
}

h2{
  font-size: 2.5rem;
  text-align: center;
}
section{

  padding: 2rem;
  padding-top: 0px;
}
article{
  max-width: 600px;
}

p{
  font-size: 1.8rem;
  margin: 0.2rem;
  text-align: center;
  transition: 0.2s ease-out;
}



p:hover{
  /* when item added */

  transform: translateY(-4px);
}


.removed:hover{

  transform: translateY(-4px);
}

.disabled{
  cursor: default;
  opacity: 50%;
  pointer-events: none;
}

@media (max-width: 600px) {
  div{
    flex-direction: column;
  }
}
