<div id = "inDepth">
  <section [@spawn0] = ''></section>
  <h2 [@spawn0] = '' > IN DEPTH DESIGN EXPLORATION </h2>
  <p [@spawn1] = '' >For this phase, we will explore a design without color! Using your initial
    requests, I will create  set of greyscale designs focusing on different themes.
    From your feedback on these designs, I will create a final set of greyscale designs to choose from.
  </p>
  <img [@spawn2] = '' src="../../assets/inDepth.png" alt="">
  <a [@spawn2] = '' href="price">See pricing</a>
</div>
<div id = "color">
  <section [@spawn0] = '' ></section>
  <h2 [@spawn0] = '' > IN DEPTH COLOR EXPLORATION </h2>
  <p [@spawn1] = '' >For this phase, we will explore different color paletes for a design! Using your initial
    requests, I will create  set of color palettes focusing on different themes.
    From your feedback on these designs, I will create a final set of color palettes to choose from.</p>
  <img [@spawn2] = '' src="../../assets/Color promo prep.png" alt="">
  <a [@spawn2] = '' href="price">See pricing</a>
</div>
<div id = 'final'>
  <section [@spawn0] = '' ></section>
  <h2 [@spawn0] = '' > ILLUSTRATION </h2>
  <p [@spawn1] = ''>Choose from splash arts, portraits, character sheets and many other options! Pick and
    choose your desired render, number of figures and shot type.
  </p  >
  <img [@spawn2] = '' src="../../assets/final.png" alt="">
  <a [@spawn2] = '' href="price">See pricing</a>
</div>
