h1{
  font-family: 'Mulish',sans-serif;
  font-size: 70px;
  letter-spacing: 30px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

h2{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 10px;
}

#contactLinks{
  margin: auto;
  border: solid 6px black;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;


}

#contactLinks a{
  text-decoration: none;
  color: rgb(179, 32, 32);

}

@media (max-width: 626px) {
  h1{
      letter-spacing: 8px;
      font-size: 55px;
  }
  h2{
      letter-spacing: 5px;
      font-size: 30px;
  }
}

section{
  min-height: 100vh;

}
