  <section>
    <h1 [@spawn0] = ''> CONTACT</h1>

    <H2 [@spawn1] = '' >STATUS: OPEN</H2>
    <DIV  [@spawn2] = '' id = "contactLinks">

            <!-- Real Links -->
            <!-- <a href = "https://www.fiverr.com/protojops">FIVERR</a> <br>
            <a href = "https://www.reddit.com/message/compose/?to=protojops">REDDIT</a> <br>
            <a href = "https://twitter.com/protojops">TWITTER</a> <br> -->


            <a href = "https://fiver.com">FIVERR</a> <br>
            <a href = "https://reddit.com">REDDIT</a> <br>
            <a href = "https://twitter.com">TWITTER</a> <br>


    </DIV>
  </section>

