h1{
  font-size: 5rem;
  font-family: 'Sans Source Pro',sans-serif;
  padding: 2rem;
}

section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;


}


h2{
  font-size: 3rem;
  font-family: 'Mulish',sans-serif;
  letter-spacing: 0.2rem;
  font-weight: normal;
  position: fixed;
  bottom:0;
  background-color: white;
  margin: 0;
  width: 100vw;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}

main{
  max-width: 80vw;
  flex-wrap: wrap;
  display: flex;
  /* border: 4px solid black; */
  border-radius: 10px;
  padding: 2em;
  box-sizing: border-box;
}

@media (max-width: 1600px) {
  main {
    max-width: 90vw;
    flex-direction: column;
  }
  section {
    max-width: 90vw;
    flex-direction: column;
    margin: 0;
  }
  h1{
    margin: 0;

  }


  #mainDrop {
    font-size:10px;
  }

}

@media (max-width: 600px) {
  #mainDrop {
    font-size:8px;
  }

}

