div{
  background-color: rgba(0, 0, 0, 0.651);
  display:flex;
  position: sticky;
  z-index: 20;
  height: 100vh;
  width: 100vw;
}
section{
  margin: auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  z-index: 20;
  height: 90vh;
}

:host{
  position: fixed;
  display: block;
  z-index: 200;
  top: 0px;
}
img{
  opacity: 100%;
  max-width: 100%;
}

@media (max-width:600px){
  section{
    height: auto;
    width: 90vw;
  }
}
